@font-face {
    font-family: 'PlayFair-Normal';
    src: local('â˜º'), url('./../../assets/fonts/textFont/playFair/PlayfairDisplay-Black.ttf') format('truetype');
    }
    
    @font-face {
    font-family: 'Lato-Regular';
    src: local('â˜º'), url('./../../assets/fonts/textFont/playFair/PlayfairDisplay-Italic.ttf') format('truetype');
    }
    
    @font-face {
    font-family: 'Lato-Bold';
    src: local('â˜º'), url('./../../assets/fonts/textFont/playFair/PlayfairDisplay-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Lato-Bold';
        src: local('â˜º'), url('./../../assets/fonts/textFont/playFair/PlayfairDisplay-Bold.ttf') format('truetype');
        }